@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body {
    font-family: "Caveat", cursive;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 5px 4px 10px 0px;
}


tbody > tr:nth-child(odd) {
    background: #ccc;
}



th,td {
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
}
thead {
    font-weight: bold;
    background-color: rgb(63, 63, 63);
    color: #fff;
}

tbody > tr:nth-child(odd):hover,tbody > tr:hover {
    background-color: #858585;
    transition: ease-out 1s;
    
}